<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'homepage' %}">
                    首页
                </a>
            </li>

        </ol>
    </nav>

    <!-- 搜索栏 -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
				<input type="text" class="form-control mb-2 mr-sm-2" name="to" placeholder="To" >
				<input type="text" class="form-control mb-2 mr-sm-2" name="method" placeholder="Method" >
                <input type="submit" class="form-control mb-2 mr-sm-2" value="查询">
            </form>
        </div>
    </div>

    <!-- 搜索提示语 -->
	{% if blsmessages %}
		<h4><span style="color: red">"to: {{ to }} method:{{ method }}"</span>的搜索结果如下：</h4>
		<hr>        
	{% else %}
		<h4>暂无<span style="color: red">"to: {{ to }} method:{{ method }}"</span>有关的区块。</h4>
		<hr>
	{% endif %}

	<div class="table-responsive">
	  <table class="table" style="word-wrap:break-all; table-layout: fixed;">
		<thead>
		  <tr>
			<th width="8%">高度</th>
			<th width="55%">To</th>
			<th width="10%">Mehtod</th>
		  </tr>
		</thead>
		<tbody>
		{% for blsmessage in blsmessages %}
		  <tr>
			<td><a href="{% url 'block:block_detail' %}?hash={{ block.hash }}">{{ blsmessage.block.height }}</td>
			<td><a href="{% url 'block:block_detail' %}?hash={{ block.hash }}">{{ blsmessage.to }}</td>
			<td>{{ blsmessage.method }}</td>
		  <tr>
		{% endfor %}
		</tbody>
	  </table>
	</div>

</div>
{% endblock content %}