<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="#">Filecoin Explorer</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
        <li class="nav-item">
          <a class="nav-link" href="#">  </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="searchbar"> 
  <div class="searchbar-inner"> 
   <form action="{% url 'block:block_list' %}" method="GET" class="searchbar-form clearfix" onsubmit="this.search.value = this.search.value.trim()"> 
	<div class="searchbar-input-container"> 
	 <input type="search" class="form-control mb-2 mr-sm-2" name="search" placeholder="地址、高度或哈希..." autocomplete="off" onfocus="$(this).addClass('active')" onblur="this.value.length &gt; 1 || $(this).removeClass('active')" /> 
	</div> 
   </form> 
  </div> 
 </div> 	 
</nav>
